.cell {
    display: flex;
    /* align-items: center; */
}

.hexagon {
    position: relative;
    width: 100px; 
    height: 100px;
    box-shadow: 2px 1px 18px -4px #000000;
    margin-right: 10px;
}

/* .hexagon:hover {
    height: 120px;
    width: 120px;
} */

.city-name {
    font-size: 1.8rem;    
}

.weather-now {
    font-size: 1.2rem;
}

.temperature {
    font-size: 2.5rem;
}

@keyframes cellHoverAnimate {
    0% {
        height: 100px;
        width: 100px;
    }
    25% {
        height: 110px;
        width: 110px;
    }
    50% {
        height: 115px;
        width: 115px;
    }
    75% {
        height: 120px;
        width: 120px;
    }
    100% {
        height: 100px;
        width: 100px;
    }
}
