.region-and-cities {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(#d8706b 25%, #AF2938);

}

.region-and-cities__cities-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.region-and-cities__cities-container .cell {
    margin: 0 40px;
}

.region-and-cities__select-region {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-region__label {
    opacity: 1;
}
.select-region__region-dropdown {
    margin: 0 30px;
}
.select-region__region-search, 
.select-region__region-search input {
    background-color: #80808052;
    outline: none;
    border: none;
    opacity: 1;
}

.select-region__region-search input{
    padding: 10px 20px;
}

.select-region__region-search input, 
.select-region__region-search input::placeholder {
    color: gray;
}
