.selected-city-card {
    position: relative;
    height: 100%;
    padding: 40px 20px;
}

.selected-city-card > div {
    height: 100%;
    width: 100%;
}

.selected-city-card__bg-img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.selected-city-card__bg-img img{
    height: 100%;
    width: 100%;
}

.selected-city-card__city-name {
    font-size: 2.2rem;
    text-align: center;
    font-weight: normal;
}

.selected-city-card__content {
    background-color: #00000061;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.text-item {
    text-align: center;
    font-weight: normal;
}

.selected-city-card__content > .time-now {
    font-size: 1.6rem;
}

.selected-city-card__content > .date {
    font-size: 1.6rem;
}

.selected-city-card__content > .day {
    font-size: 1.2rem;
    color: #8E283D;
}

