.weather-station {
    display: flex;
    height: 100%;
}

.weather-station__side-menu-panel {
    width: 5%;
    background-color: #38172f;
    min-width: 95px;
}

.weather-stations__detail-view {
    flex: 1;
}

.detail-view__region-panel {
    max-height: 300px;
    min-height: 260px;
    height: 30%;
    background: green;
}


.detail-view {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.weather-today {
    display: flex;
    flex: 1;
}

.weather-today__hourly {
    flex: 1;
}

.weather-today__selected-city {
    width: 30%;
    max-width: 375px;
}