.weather-detail-section {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;

    &__today {
        padding: 20px;
        display: inherit;
        width: 100%;
        align-items: center;
        flex-basis: 20%;
        height: 50px;

        .label {
            color: wheat;
            flex: 1;
            font-size: 2.5rem;    
            font-weight: normal;
        }

        .linear-guage {
            margin-right: 20px;
            height: 5px;
            width: 150px;
            background: linear-gradient(to right, #d8706b, orange);
            position: relative;

            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(50%, -50%);
                content: '';
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background: white;
                border: 2px solid wheat;
            }
        }
    }

    &__hourly-graph {
        background-color: aliceblue;
        flex-basis: 40%;
    }
    
    &__detailed-weather-report {
        background-color: bisque;
        flex-basis: 40%;;
    }
}
